@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-roboto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

/* {
  outline: 1px solid red !important;
} 
*/
